<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <link rel="stylesheet" href="/semantic/semantic.min.css" />
  </head>
  <body>
    <h1>Salut les gens</h1>
    <p><%= test %></p>
  </body>
</html>
